
<h1>Add a Task</h1>
<form method="POST" action="/">
    <p>
        <input type="text" name="task"/>
    </p>

    <p>
        <label for="status"> Select the status:</label><br><br>
        <!-- Here I am using select element to create a drop downlist, id attribute associate each with the a label-->
        <select name="status" id="status">
            <option value="Not Started">Not Started</option>
            <option value="Started">Started</option>
            <option value="In Progress">In progress</option>
            <option value="Completed">Completed</option>
        </select>
    </p>
        
<p>
    <input type="submit" value="Add">
</p>

    
</form>

<h1>Tasks</h1>

    {% for task in tasks %}
    <h3><p>{{task.task}}</p></h3> 
     <p>{{task.status}}</p>

     <form method="POST" action="./update">
         <input type="hidden" value="{{task.task}}" name="oldtask">
         <input type="text" value="{{task.task}}" name="newtask">
         <input type="hidden" value="{{task.status}}" name="oldstatus">     
        <select name="newstatus" id="status">
            <option value="Not Started">Not Started</option>
            <option value="Started">Started</option>
            <option value="In Progress">In progress</option>
            <option value="Completed">Completed</option>
        </select> 
         <input type="submit" value="Update">               
     </form>

     <form method="POST" action="./delete">
         <input type="hidden" value="{{task.task}}" name="task">
         <input type="submit" value="Delete">

     </form>
    {% endfor %}
